.files-list {
  background-color: rgb(43, 52, 52);
  border-radius: 10px;
  padding: 0.25em 0.5em;
  margin-right: auto;
  margin-left: auto;
  min-width: 300px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
}

th {
  width: 100%;
  text-align: center;
}

td {
  padding: 0.5em 2em;
}

.path-display {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.exit-folder-div:hover {
  background-color: #585858;
  padding-right: 5px;
  max-width: fit-content;
  border-radius: 5px;
}